<!-- Header -->
<header class="text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">L'équipe KnowShare</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container mb-4 text-center">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow bg-white text-dark">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFImm5r12Wz8A/profile-displayphoto-shrink_400_400/0/1517247844996?e=1613001600&v=beta&t=hl4OdB9OUsqUkcBTttbvPbM8A_O8m9mElcCUmZzFs2s" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Maxime WONG</h5>
          <div class="card-text text-dark mt-2">
            <%= link_to "https://www.linkedin.com/in/maxime-wong-439519a3/", class: "text-primary mr-1", target: "_blank" do %>
              <i class="fab fa-linkedin fa-2x"></i>
            <%end %>
            <%= link_to "https://github.com/Mtwod", class: "text-dark mr-1", target: "_blank" do %>
              <i class="fab fa-github-square fa-2x"></i>
            <%end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow bg-white text-dark">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHGk3GzfnB2ow/profile-displayphoto-shrink_400_400/0/1605781157822?e=1613001600&v=beta&t=VJ_Lxbtq4ShrP6FOr0iVd8GibZuwFrBrnvM8XI5OvoI" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Coline BRAULT</h5>
          <div class="card-text text-dark mt-2">
            <%= link_to "https://www.linkedin.com/in/colinebrault/", class: "text-primary mr-1", target: "_blank" do %>
              <i class="fab fa-linkedin fa-2x"></i>
            <%end %>
            <%= link_to "https://github.com/colinebrlt", class: "text-dark mr-1", target: "_blank" do %>
              <i class="fab fa-github-square fa-2x"></i>
            <%end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow bg-white text-dark">
        <img src="https://avatars2.githubusercontent.com/u/49145563?s=400&u=1e3e79d06279b0dd0a004835e3107deb2385793a&v=4" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Vanak LAY</h5>
          <div class="card-text text-dark mt-2">
            <%= link_to "https://www.linkedin.com/in/vanaklay/", class: "text-primary mr-1", target: "_blank" do %>
              <i class="fab fa-linkedin fa-2x"></i>
            <%end %>
            <%= link_to "https://github.com/vanaklay", class: "text-dark mr-1", target: "_blank" do %>
              <i class="fab fa-github-square fa-2x"></i>
            <%end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow bg-white text-dark">
        <img src="https://avatars2.githubusercontent.com/u/51116586?s=460&u=d3133422e0a81daa4c4107a499f47c38d9ff8a61&v=4" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Arthur RUDY</h5>
          <div class="card-text text-dark mt-2">
            <%= link_to "https://www.linkedin.com/in/arthur-rudy-514b621b0/", class: "text-primary mr-1", target: "_blank" do %>
              <i class="fab fa-linkedin fa-2x"></i>
            <%end %>
            <%= link_to "https://github.com/Rudyar", class: "text-dark mr-1", target: "_blank" do %>
              <i class="fab fa-github-square fa-2x"></i>
            <%end %>
          </div>
        </div>
      </div>
    </div>
  <!-- /.row -->
  </div>
  <%= link_to  "Retour à l'accueil", root_path, class:"btn btn-outline-info text-center" %>
</div>
<!-- /.container -->