<div class="bg-white">
  <div class="container my-5 py-3">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-dark">
        <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin mt-3" } do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <h1 class="h3 mb-5 font-weight-normal text-center">Se connecter</h1>
          
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", required: true %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Mot de passe", required: true %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "Se souvenir de moi" %>
            </div>
          <% end %>

          <div class="actions mt-4">
            <%= f.submit "Se connecter", class: "btn btn-primary d-flex mx-auto mb-3 px-5" %>
          </div>
        <% end %>
        <p>Tu n'as pas encore de compte ?</p>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
<div>
