<% lesson = booking.lesson %>
<tr>
  <td class="align-middle"><%= booking.display_start_date_time %></td>
  <td class="align-middle"><%= lesson.title %></td>
  <td class="align-middle"><%= lesson.teacher.display_name %></td>
  <td class="align-middle"><%= booking.duration %> minutes</td>
  <td class="align-middle">
    <%= link_to lesson_booking_chatroom_path(lesson_id: lesson.id, booking_id: booking.id, id: booking.chatroom.id), class:"mx-2 text-warning", title:"Messagerie instantanée" do %>
      <i class="fas fa-2x fa-comment-dots"></i>
    <% end %>
    <%= link_to lesson, class: "mx-2 text-info", title:"Voir la leçon" do %>
      <i class="fas fa-2x fa-eye"></i>
    <% end %>
    <%= link_to lesson_booking_path(lesson.id, booking.id), class: "mx-2 text-danger", title:"Annuler ma réservation", method: :delete, data: {confirm: "Es-tu sûr(e) de vouloir annuler ce cours ?"}  do %>
      <i class="fas fa-2x fa-times"></i>
    <% end %>
  </td>
</tr>
