<div class="card my-3 mx-3 bg-white text-dark">
  <div class="card-header bg-white">
    <div class="row">
      <div class="mx-2">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, alt: "profile picture", class: "p-1", style: "width: 6vw; height: 6vw; object-fit: cover; border-radius: 50px" %>
        <% else %>
          <%= image_tag "https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697", alt: "profile picture", class: "p-1", style: "width: 6vw; height: 6vw; object-fit: cover; border-radius: 50px" %>
        <% end %>
      </div>
      <div class="mx-2 d-flex align-self-center">
          <h2><strong>Mon profil</strong></h2>
      </div>
      <div class="mx-2 align-self-center" style="position: absolute; right: 0;">
          <%= link_to "Editer mon email et mot de passe", edit_user_registration_path, class: "btn btn-outline-primary mx-2" %>
          <%= link_to "Éditer mon profil", edit_user_path(current_user.id), class: "btn btn-outline-primary mx-2" %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <h4>Mon prénom</h4>
        <% if current_user.has_first_name? %>
          <%= current_user.first_name %>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <h4>Mon nom</h4>
        <% if current_user.has_last_name? %>
          <%= current_user.last_name %>
        <% end %>
      </div>
       <div class="col-lg-3 col-md-3 col-sm-12">
        <h4>Mon pseudo</h4>
        <p><%= current_user.username %></p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <h4>Mon email</h4>
        <p><%= current_user.email %></p>
      </div>
    </div>
    <hr>

    <h4>Ma bio</h4>
    <% if current_user.has_description? %>
      <%= current_user.description %>
    <% else %>
      Pas encore de bio, édite ton profil pour en rajouter une !
    <% end %>
    <hr> 
  </div>
</div>