<div class="card my-3 bg-white text-dark">
  <div class="card-header bg-white">
    <div class="row">
      <div class="mx-2">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, alt: "profile picture", class: "p-1 profile-avatar" %>
        <% else %>
          <%= image_tag "https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697", alt: "profile picture", class: "p-1 profile-avatar" %>
        <% end %>
      </div>
      <div class="mx-2 d-flex align-self-center">
          <h2><strong>Mon profil</strong></h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h4>Mon prénom</h4>
        <%= current_user.display_first_name %>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h4>Mon nom</h4>
        <%= current_user.display_last_name %>
      </div>
       <div class="col-lg-4 col-md-4 col-sm-12">
        <h4>Mon pseudo</h4>
        <p><%= current_user.username %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>Mon email</h4>
        <p><%= current_user.email %></p>
      </div>
    </div>
    <hr>

    <h4>Ma bio</h4>
    <%= current_user.display_description %>
    <hr> 

    <div class="mx-2 align-self-center">
      <%= link_to "Editer mon email et mot de passe", edit_user_registration_path, class: "btn btn-outline-primary mx-2" %>
      <%= link_to "Éditer mon profil", edit_user_path(current_user.id), class: "btn btn-outline-primary mx-2" %>
    </div>
  </div>
</div>