<div class="bg-white">
  <div class="container mb-5">
    <div class="row">
      <div class="mx-2 my-2" style="position: absolute; right: 0;">
        <%= link_to "Retour vers page profil", user_path(current_user), class: "btn btn-outline-primary d-flex mx-auto mb-3" %>
      </div>
      <div class="col-md-6 offset-md-3 text-dark">
        <br><br><br>
        <h1 class="h3 mb-5 font-weight-normal text-center">Edite de tes informations personnelles</h1>

        <%= form_for current_user do |f| %>
          <div class="form-group">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, width: "10%" %>
            <% end %>
            <%= f.label :avatar %><br />
            <%= f.file_field :avatar, accept: "image/png, image/gif, image/jpeg" %>
          </div>

          <div class="form-group">
            <%= f.text_field :first_name, class: "form-control", placeholder: "Prénom", autocomplete: "first_name" %>
          </div>

          <div class="form-group">
            <%= f.text_field :last_name, class: "form-control", placeholder: "Nom", autocomplete: "last_name" %>
          </div>

          <div class="form-group">
            <%= f.text_area :description, class: "form-control", placeholder: "Bio", autocomplete: "description" %>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Mettre à jour</button>
          </div>
        <% end %>  
      </div>
    </div>
  </div>
</div>
