<div class="pt-2">
  <div class="ml-2 d-flex align-self-center">
    <div class="mx-2">
      <i class="fas fa-chevron-right fa-2x"></i>
    </div>
    <div class="mx-2 d-flex">
      <h4><strong>Mon planning actuel</strong></h4>
    </div>
  </div>
  <br>
  <%= week_calendar(events: @schedules) do |date, schedules| %>
    <% schedules.each do |schedule| %>
      <% if schedule.is_booked? %>
        <div class="bg-danger text-white rounded-pill mt-2">
          <p class="text-center py-2"><%= schedule.start_time.strftime("%H:%M") %> - <%= schedule.end_time.strftime("%H:%M") %></p>
        </div>
      <% else %>
        <div class="bg-success text-white rounded-pill mt-2">
          <p class="text-center py-2"><%= schedule.start_time.strftime("%H:%M") %> - <%= schedule.end_time.strftime("%H:%M") %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
