<div class="card bg-white text-dark">
  <div class="card-header bg-white">
    <div class="ml-2 d-flex align-self-center flex-column">
        <h2><strong>Ajouter une plage horaire</strong></h2>
        <p>Indiques ici ta disponibilité à venir dans une tranche horaire pour un jour donné</p>
    </div>
  </div>
  <div class="card-body container">
    
    <%= form_for [@user, @schedule], html: { class: "form-signin mt-3" }, remote: true  do |f| %>
        
      <div class="form-group">
        <%= f.label "Date et horaire de départ :" %><br/>
        <%= f.datetime_select :start_time, :default => 24.hours.from_now, :minute_step => 30, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Date et horaire de fin :" %><br/>
        <%= f.datetime_select :end_time, :default => 24.hours.from_now, :minute_step => 30, class: "form-control" %>
      </div>
      <div class="text-center">
        <%= f.submit "Créer", class: "btn btn-primary px-5" %>
      </div>
    <% end %>

  </div>
</div>