<div class="container" id="all-lessons">
  <h2 class="font-weight-bold mt-5 mb-0 text-center">Les cours à la une</h2>
  <p class="subTitleIndex text-center mb-5">Découvres les cours les plus populaires</p>
  <div class="row">
  <% @lessons.each do |lesson| %>
    <div class="col-sm-12 col-md-6 col-lg-4 my-2">
      <div class="card bg-white text-dark">
      <% if lesson.picture.attached? %>
        <%= image_tag lesson.picture, class:"img-fluid img-lesson-card" %>
      <% else %>
        <%= image_tag  "https://cdn.pixabay.com/photo/2020/11/04/10/45/school-5711987_1280.jpg", class:"img-fluid img-lesson-card" %>

      <% end %>

        <h4 class="card-header bg-white"><%= lesson.title %></h4>
        <div class="card-body">
          <div class="row mx-2">
          <% if lesson.teacher.avatar.attached? %>
            <%= image_tag lesson.teacher.avatar, class:"avatar mr-3"%>
          <% else %>
            <%= image_tag "https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697", class:"avatar mr-3"%>
          <% end %>
            <div class="d-flex flex-column">
                <strong><%= lesson.teacher.username %></strong>
                <h6 class="card-title">⭐️⭐️⭐️⭐️⭐️ 4,8 (65 avis)</h6>
            </div>
          </div>
          <div class="row justify-content-around">
            <%= link_to  "En savoir plus", lessons_path(lesson.id), class:"btn btn-warning" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  </div>

  <div class="row justify-content-center my-5">
    <%= link_to "Tous les cours", lessons_path, :class => "btn-lg btn-primary" %>
  </div>
</div>