<%= render "header_mail" %>
    <h1>Salut <%= @student.username %>!</h1>
    <p>
      Tu t'es inscrit au cours <%= @lesson_title %> créé par <%= @teacher.username%>. Contacte le au plus vite via la messagerie de KnowShare, ou bien, voici son email : <%= @teacher.email%>
    </p>
    <p>
      Pour rappel :
      Le cours commencera le <%= @start_date %>
    </p>
<%= render "footer_mail" %>