<%= render "booking_mailer/header_mail" %>

  <h1>Merci pour votre achat !</h1>
  <p>
    Bonjour <%= @user.username %>, nous t'informons que ton achat de crédits à bien été pris en compte.
  </p>
  <p>
    Pour rappel, tu as payé <%= @amount %> € pour <%= @credits %> nouveau(x) crédit(s).
  </p>
  <p>
    Ne tardes pas à aller découvrire tous les cours de notre plateforme d'apprentissage entre particuliers.
    
  </p>

<%= render "booking_mailer/footer_mail" %>
