<div class="bg-white rounded box-shadow">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row pt-2 mb-2 mr-2">
      <strong>Nombre d'utilisateurs inscrits</strong>
    </div>
    <div class="row border-bottom border-gray py-2 mb-2 mr-2">
      <%= @users.count %>        
    </div>

    <div class="row pt-2 mb-2 mr-2">
      <strong>Dernier utilisateur inscrit</strong>
    </div>
    <div class="row border-bottom border-gray py-2 mb-2 mr-2">
      <%= User.last.display_name %>        
    </div>

    <div class="row pt-2 mb-2 mr-2">
      <strong>Dernier cours crée</strong>
    </div>
    <div class="row border-bottom border-gray py-2 mb-2 mr-2">
      <%= Lesson.last.title %>        
    </div>

    <div class="row pt-2 mb-2 mr-2">
      <strong>Nombre de réservations de cours</strong>
    </div>
    <div class="row border-bottom border-gray py-2 mb-2 mr-2">
      <%= @bookings.count %>        
    </div>

    <div class="row pt-2 mb-2 mr-2">
      <strong>Cours le plus populaire</strong>
    </div>
    <div class="row border-bottom border-gray py-2 mb-2 mr-2">
      <%= @users.count %>        
    </div>
  </div>
</div>
