<div class="container pt-4">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <%= render "main_lesson_show_card" %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <%= render "teacher_lesson_show_card" %>
      <% if @lesson.teacher?(current_user) %>
        <%= render "schedule_card", local: @lesson %>
      <% else %>
        <% if @lesson.user.has_schedules? %>
          <% if user_signed_in? %>
            <%= render "calendar_lesson_show_card" %>
          <% else %>
            <%= render "signin_cards" %>
          <% end %>
            
        <% else %>
          <%= render "wait_schedules_card" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 p-3">
        <% if @lesson.user.has_schedules? %>
          <%= render "calendar", local: @schedules %>
        <% end %>
      </div>
    </div>
  </div>
</div>
