<section class="bg-white">
  <div class="container my-5">
    <div class="card my-3">
      <div class="card-header bg-dark">
        <div class="row">
          <div class="mx-2">
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, alt: "profile picture", class: "p-1 profile-avatar img-fluid" %>
            <% else %>
              <%= image_tag "https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697", alt: "profile picture", class: "p-1 profile-avatar img-fluid" %>
            <% end %>
          </div>
          <div class="mx-2 d-flex align-self-center">
            <h3><strong>À propose de <%= @user.username %></strong></h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <h4>Prénom</h4>
            <p><%= @user.display_first_name %></p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <h4>Nom</h4>
            <p><%= @user.display_last_name %></p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 text-lg-center text-md-center">
            <h4>Cours créés</h4>
            <p><%= @lessons.count %></p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 text-lg-center text-md-center">
            <h4>Cours suivis</h4>
            <p><%= @user.bookings.count %></p>
          </div>
        </div>
        <hr class="border-light">

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h4>Bio</h4>
            <% if @user.description %>
              <p><%= @user.display_description %></p>
            <% else %>
              <p>Pas encore de bio !</p>
            <% end %>
          </div> 
        </div>

      </div>
    </div>

  </div>
</section>

<section class="mb-5">
  <div class="container">
    <h2 class="text-center my-4"><strong>Les cours proposés par <%= @user.username %></strong></h2>
    <%= render "shared/index_cards", local: @lessons %>
  </div>
</section>
