<% lesson = booking.lesson %>
<tr>
  <td class="align-middle"><%= booking.display_start_date_time %></td>
  <td class="align-middle"><%= lesson.title %></td>
  <td class="align-middle"><%= booking.student.display_name %></td>
  <td class="align-middle"><%= booking.duration %> minutes</td>
  <td class="align-middle">
    <%= link_to lesson, class: "mx-2 text-info"  do %>
      <i class="fas fa-eye fa-2x"></i>
    <% end %>
    <%= link_to lesson_booking_path(lesson.id, booking.id), class: "mx-2 text-danger", method: :delete, data: {confirm: "Êtes-vous sûr(e) de vouloir annuler ce cours ?"}  do %>
      <i class="fas fa-times fa-2x"></i>
    <% end %>
  </td>
</tr>
    
