<% lesson = booking.lesson %>
<tr>
  <td><%= booking.display_start_date_time %></td>
  <td><%= lesson.title %></td>
  <td><%= lesson.teacher.display_name %></td>
  <td><%= booking.duration %> minutes</td>
  <td>
    <%= link_to lesson, class: "mx-2 text-info"  do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= link_to lesson_booking_path(lesson.id, booking.id), class: "mx-2 text-danger", method: :delete, data: {confirm: "Es-tu sûr(e) de vouloir annuler ce cours ?"}  do %>
      <i class="fas fa-times"></i>
    <% end %>
  </td>
</tr>
    