<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", required: true %>
  </div>

  <div class="field">
    <% if resource.avatar.attached? %>
      <%= image_tag resource.avatar, width: "10%" %>
    <% end %>

    <%= f.label :avatar %><br />
    <%= f.file_field :avatar, accept: "image/png, image/gif, image/jpeg" %>
  </div>

   <div class="form-group">
    <%= f.label :email, "Email" %><br />
    <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Vous n'avez pas encore confirmé votre compte. Un email vous a été envoyé à : <%= resource.unconfirmed_email %></div>
  <% end %>


  <div class="form-group">
    <%= f.label :password %> <i>(ne pas remplir si vous ne souhaitez pas le changer)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Nouveau mot de passe (6 caractères minumum)" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirmer le nouveau mot de passe" %>
  </div>

  <div class="form-group">
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Mot de passe actuel" %>
  </div>

  <div class="actions mt-4">
    <%= f.submit "Mettre à jour", class: "btn btn-outline-primary d-flex mx-auto mb-3" %>
  </div>
<% end %>

<hr />
<h3 class="h3 mb-3 font-weight-normal text-center">Supprimez votre compte</h3>
<%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sur ?" }, method: :delete, class: "btn btn-danger d-flex mx-auto mb-3" %>

<%= link_to "Retour vers page profil", :back %>

